:root {
  --oWid: 300px;
  --oHt: 250px;
  --isiWid: 248px;
  --isiHt: 80px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, sub, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

sup {
  position: relative;
  top: -0.7em;
  font-size: 0.5em;
  line-height: 0;
  vertical-align: baseline;
}

body {
  -webkit-text-size-adjust: 100%;
}

#banner {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
}

#banner_content {
  position: relative;
  width: inherit;
  height: inherit;
  padding: 1px;
}

#frames {
  position: relative;
  top: 0px;
  left: 0px;
  width: inherit;
  height: inherit;
  /* The following rules fix live text in larger font sizes from appearing thicker in macOS, especially on non-retina monitors
     and light text on dark backgrounds. Should be set to 'auto' in most cases of smaller, dark text on light backgrounds */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#bg_exit {
  position: absolute;
  top: 1px;
  left: 1px;
  width: inherit;
  height: inherit;
  z-index: 11;
  cursor: pointer;
}

#bg_exit,
#frames {
  width: calc(var(--oWid) - 2px);
  height: calc(var(--oHt) - 2px);
}

#border {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: 10;
  pointer-events: none;
  border: 1px solid #000000;
}

.hidden {
  opacity: 0;
}

.w300-h50 #isi_container,
.w320-h50 #isi_container,
.w728-h90 #isi_container {
  left: auto;
  right: 1px;
}
.w300-h50.isi #frames,
.w300-h50.isi #bg_exit,
.w320-h50.isi #frames,
.w320-h50.isi #bg_exit,
.w728-h90.isi #frames,
.w728-h90.isi #bg_exit {
  height: calc(var(--oHt) - 2px);
}

.w728-h90 #isi_inner .isi_top_links:before {
  top: 100%;
  left: 0;
  width: 100%;
}
.w728-h90 #isi_inner .isi_top_links p {
  padding: 0 4px;
  font-size: 9px;
}
.w728-h90 #isi_inner .isi_top_links p span {
  padding: 3px 0 2px;
  font-size: 9px;
  line-height: 9px;
}
.w728-h90 #isi_inner .isi_top_links p span + span {
  margin-left: 12px;
}

.w160-h600.isi #frames,
.w160-h600.isi #bg_exit,
.w300-h250.isi #frames,
.w300-h250.isi #bg_exit,
.w300-h600.isi #frames,
.w300-h600.isi #bg_exit,
.w320-h480.isi #frames,
.w320-h480.isi #bg_exit {
  width: calc(var(--oWid) - 2px);
}

.w160-h600.isi #isi_inner {
  padding-top: 30px;
}
.w160-h600.isi #isi_inner .isi_top_links p span + span {
  margin-left: 0;
}
.w160-h600 #isi_inner .link.long-link {
  word-break: break-all;
}

.w728-h90 #isi_inner h1, .w728-h90 #isi_inner h2, .w728-h90 #isi_inner li, .w728-h90 #isi_inner p {
  font-size: 9px;
}
.w728-h90 #isi_inner .isi_top_links p span {
  font-size: 9px;
}

#frames {
  background: #ffffff;
}

#f1_background {
  background-image: url(img/frame1-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left top;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.bg {
  background-image: url(img/frame2-midground.png);
  background-repeat: repeat-x;
  background-size: 100%;
  background-position: left top;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.f1_midground {
  z-index: 2;
  clip: rect(0px, 0px, var(--oHt), 0px);
  -webkit-transition: all 0.25s ease-out 0s;
  transition: all 0.25s ease-out 0s;
}

#f1_foreground {
  background-image: url(img/frame1-foreground.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
  width: 181px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  -webkit-filter: drop-shadow(3px 17px 3px black);
          filter: drop-shadow(3px 17px 3px black);
}

#f1_text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 131px;
  height: 182px;
  z-index: 4;
  -webkit-transition: all 0.25s linear 0.5s;
  transition: all 0.25s linear 0.5s;
}

#f2_background {
  background-image: url(img/frame2-background.jpg);
  background-repeat: no-repeat;
  background-size: 172px 250px;
  background-position: right top;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  opacity: 0;
}

#f2_text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 123px;
  height: 216px;
  z-index: 4;
  -webkit-transition: all 0.5s linear 0.5s;
  transition: all 0.5s linear 0.5s;
}

#f3_text {
  position: absolute;
  top: 56px;
  left: 15px;
  width: 98px;
  height: 102px;
  z-index: 4;
  -webkit-transition: all 0.5s linear 0.5s;
  transition: all 0.5s linear 0.5s;
}

.f4 {
  height: 100%;
  position: relative;
  z-index: 4;
}

#logo,
#logo2 {
  background: transparent url(img/logo.svg) no-repeat 0 0;
  background-size: 100% 100%;
  position: absolute;
}

hr {
  position: absolute;
  top: 68px;
  left: 77px;
  width: 145px;
  height: 1px;
  margin: 0;
  border: none;
  border-top: 1px solid #617f8b;
  z-index: 5;
  -webkit-transition: all 0.25s linear 0.75s;
  transition: all 0.25s linear 0.75s;
}

#eyebrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.bg.f4_midground {
  z-index: 5;
  clip: rect(139px, var(--oWid), 139px, 0);
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

#f4_text {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 252px;
  height: 68px;
  z-index: 5;
  -webkit-transition: all 0.25s linear 0.75s;
  transition: all 0.25s linear 0.75s;
}

#f5_background {
  background-image: url(img/frame5-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left top;
  width: 155px;
  height: 145px;
  position: absolute;
  top: 16px;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

#f5_text {
  position: absolute;
  top: 68px;
  left: 152px;
  width: 146px;
  height: 68px;
  z-index: 4;
  -webkit-transition: all 0.5s linear 0.5s;
  transition: all 0.5s linear 0.5s;
}

#ribbon {
  position: absolute;
  top: 30px;
  left: 140px;
  width: 133px;
  height: 38px;
  z-index: 5;
  -webkit-transition: all 0.5s linear 0.5s;
  transition: all 0.5s linear 0.5s;
}

#f6_text {
  position: absolute;
  top: 84px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 175px;
  height: 13px;
  z-index: 5;
  -webkit-transition: all 0.5s linear 0.5s;
  transition: all 0.5s linear 0.5s;
}

#button {
  background-image: url(img/button.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  text-indent: -9999px;
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 233px;
  height: 30px;
  z-index: 15;
  -webkit-transition: opacity 0.5s linear 0.5s;
  transition: opacity 0.5s linear 0.5s;
  cursor: pointer;
}
#button:hover {
  background-position: left bottom;
}

/*
 * FRAME STYLES
 */
.step_1 #f1_background,
.step_1 #f1_foreground,
.step_1 #f1_text {
  opacity: 1;
}
.step_1 .bg.f1_midground {
  clip: rect(0px, 167px, var(--oHt), 0px);
}

.step_2 #f1_text {
  left: -12px;
  opacity: 0;
  -webkit-transition: left 0.25s linear 0s, opacity 0.25s linear 0.375s;
  transition: left 0.25s linear 0s, opacity 0.25s linear 0.375s;
}
.step_2 #f1_background,
.step_2 #f1_foreground {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  opacity: 0;
}
.step_2 #f2_background {
  -webkit-transition: all 0.25s ease-out 0s;
  transition: all 0.25s ease-out 0s;
  opacity: 1;
}
.step_2 #f2_text {
  -webkit-transition: all 0.25s linear 0.25s;
  transition: all 0.25s linear 0.25s;
  opacity: 1;
}
.step_2 .bg.f1_midground {
  clip: rect(0px, 132px, var(--oHt), 0px);
  -webkit-transition: all 0.25s ease-out 0s;
  transition: all 0.25s ease-out 0s;
}

.step_3 #f2_text {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  opacity: 0;
}
.step_3 #f3_text {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  opacity: 1;
}

.step_4 #f3_text {
  -webkit-transition: all 0.25s ease-out 0s;
  transition: all 0.25s ease-out 0s;
  opacity: 0;
}
.step_4 #eyebrow {
  opacity: 1;
}
.step_4 .bg.f4_midground {
  clip: rect(0px, var(--oWid), var(--oHt), 0);
  -webkit-transition: all 0.25s ease-out 0.26s;
  transition: all 0.25s ease-out 0.26s;
}
.step_4 #logo {
  width: 80px;
  height: 42px;
  top: 22px;
  left: 110px;
  opacity: 1;
  z-index: 5;
  -webkit-transition: all 0.25s linear 0.75s;
  transition: all 0.25s linear 0.75s;
}
.step_4 hr {
  opacity: 1;
  -webkit-transition: all 0.25s linear 0.75s;
  transition: all 0.25s linear 0.75s;
}
.step_4 #f4_text {
  opacity: 1;
  -webkit-transition: all 0.25s linear 0.75s;
  transition: all 0.25s linear 0.75s;
}
.step_4 #f5_background {
  opacity: 1;
  -webkit-transition: all 0s linear 1.75s;
  transition: all 0s linear 1.75s;
}
.step_4 .bg.f1_midground {
  clip: rect(139px, var(--oWid), 139px, 0);
  -webkit-transition: all 0s linear 1.75s;
  transition: all 0s linear 1.75s;
  z-index: 5;
}

.step_5 #f4_text {
  opacity: 0;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.step_5 .bg.f4_midground {
  clip: rect(0px, var(--oWid), var(--oHt), 152px);
  -webkit-transition: all 0.25s ease-out 0.25s;
  transition: all 0.25s ease-out 0.25s;
}
.step_5 #logo {
  -webkit-transform: scale(1.013) translateX(74px);
          transform: scale(1.013) translateX(74px);
  -webkit-transition: all 0.25s linear 0.25s;
  transition: all 0.25s linear 0.25s;
}
.step_5 hr {
  width: 123px;
  -webkit-transform: translateX(86px);
          transform: translateX(86px);
  -webkit-transition: all 0.25s linear 0.25s;
  transition: all 0.25s linear 0.25s;
}
.step_5 #f5_text {
  opacity: 1;
  -webkit-transition: all 0.25s linear 0.5s;
  transition: all 0.25s linear 0.5s;
}

.step_6 .bg.f1_midground {
  clip: rect(0px, var(--oWid), var(--oHt), 0);
  -webkit-transition: all 0.25s ease-out 0s;
  transition: all 0.25s ease-out 0s;
}
.step_6 #f6_text,
.step_6 #ribbon {
  opacity: 1;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.step_6 #button {
  opacity: 1;
}
.step_6 #logo2 {
  width: 86px;
  height: 46px;
  top: 25px;
  left: 28px;
  opacity: 1;
  z-index: 5;
  -webkit-transition: all 0.25s linear 0.25s;
  transition: all 0.25s linear 0.25s;
}
.step_6 #logo2::before {
  content: "";
  width: 1px;
  height: 48px;
  background-color: #678590;
  position: absolute;
  top: -1px;
  left: 98px;
  z-index: 6;
}
:root {
  --oWid: 300px;
  --oHt: 250px;
  --isiWid: 248px;
  --isiHt: 80px;
}

/*
 * ISI
 */
#isi_container {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 11px;
  line-height: 12px;
  color: #000000;
  position: absolute;
  left: 1px;
  bottom: 1px;
  width: inherit;
  z-index: 9;
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

#isi_outer {
  padding-right: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: none;
}

#isi_inner {
  display: block;
  width: 100%;
  padding: 18px 12px 20px 8px;
  overflow-x: hidden;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}
#isi_inner h1,
#isi_inner h2 {
  color: #004970;
  font-weight: bold;
  font-size: 10px;
  line-height: 10.5px;
  margin: 5px 0 2px 0;
}
#isi_inner h1 + h2 {
  margin-top: 2px;
}
#isi_inner h1 + ul {
  margin-top: 2px;
}
#isi_inner h1 + p {
  margin-top: 2px;
}
#isi_inner h2 {
  margin-top: 3px;
}
#isi_inner p,
#isi_inner li {
  color: #000000;
  font-size: 10px;
  line-height: 10.5px;
}
#isi_inner p {
  margin-bottom: 5px;
}
#isi_inner ul {
  display: block;
  list-style: none;
  list-style-type: none;
  margin-bottom: 5px;
}
#isi_inner ul li {
  position: relative;
  padding-left: 8px;
}
#isi_inner ul li:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000000;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: center;
          transform-origin: center;
}
#isi_inner ul li ~ li {
  margin-top: 3px;
}
#isi_inner .isi_top_links {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
#isi_inner .isi_top_links:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 3px;
  width: 292px;
  height: 1px;
  background-color: #f1f1f0;
}
#isi_inner .isi_top_links p {
  display: block;
  padding: 0 8px;
  margin: 3px 0px 2px 0px;
}
#isi_inner .isi_top_links p span {
  display: inline-block;
  color: #004970;
  font-weight: bold;
  padding: 2px 0;
  cursor: pointer;
}
#isi_inner .isi_top_links p span + span {
  margin-left: 14px;
}
#isi_inner .link {
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
#isi_inner #copyright {
  margin-top: 9px;
}

.isi #frames,
.isi #bg_exit {
  height: calc(calc(var(--oHt) - 2px) - var(--isiHt));
  width: calc(calc(var(--oWid) - 2px) - var(--isiWid));
  -webkit-transition: all 0.5s linear 0.25s;
  transition: all 0.5s linear 0.25s;
}
.isi #isi_container {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* 
 * Scrollbar styles 
 */
.sb_container { /* This is used in JS, do not rename or delete */
  height: 100% !important;
}
.sb_container .sb_track {
  background: #f2f2f2;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0px;
  border-radius: 3px;
}
.sb_container .sb_thumb {
  background: #cecdcd;
  cursor: pointer;
  position: absolute;
  left: 100%;
  margin-left: -7px;
  width: 2px !important;
  border-radius: 3px;
}
.sb_container .sb_active {
  background-color: #cecdcd;
}
.sb_container .sb_over {
  background-color: #cecdcd;
}
.sb_container .sb_down { /* down button */
  width: 9px !important;
  position: absolute;
  right: 5px;
  bottom: 0px;
  background-color: #cecdcd;
  cursor: pointer;
}
.sb_container .sb_down::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  display: block;
  width: 0px;
  height: 0px;
  border-right: solid 3px transparent;
  border-top: solid 3px #ffffff;
  border-left: solid 3px transparent;
}
.sb_container .sb_up { /* up button */
  width: 9px !important;
  position: absolute;
  right: 5px;
  top: 0px;
  background-color: #cecdcd;
  cursor: pointer;
}
.sb_container .sb_up::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 0px;
  height: 0px;
  border-right: solid 3px transparent;
  border-bottom: solid 3px #ffffff;
  border-left: solid 3px transparent;
}

/*
 * Show ISI only
 */
body.show_isi {
  padding: 1px 0 0 0;
  width: 0 !important;
  height: 0 !important;
}
body.show_isi #isi_outer {
  display: block;
}
body.show_isi #border, body.show_isi #bg_exit, body.show_isi #frames {
  display: none;
}
body.show_isi #banner, body.show_isi #banner_content {
  position: relative;
  height: auto;
  margin: 0 auto;
  overflow: visible;
}
body.show_isi #isi_container {
  height: auto !important;
  position: relative;
  border: 0;
  -webkit-box-shadow: 0 0 0 1px #000000;
          box-shadow: 0 0 0 1px #000000;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-filter: none;
          filter: none;
}
body.show_isi .sb_thumb {
  display: none;
}