@charset "UTF-8";

.banner {
  border: 1px solid #000;
  background: #fff;
  overflow: hidden;
  display: none;
}

.bannerSize {
  width: 300px;
  height: 250px;
}

.hide {
  opacity: 0;
}

.retina {
  background-size: contain;
}


#btnExit {
  cursor: pointer;
  opacity: 0
}

.absolute {
  position: absolute;
}

#bg {
  background-image: url("../assets/bg.jpg");
}


#magnesium_bottle {
  background-image: url("../assets/magnesium_bottle.png");
  left: 90px;
}

#probiotics_bottle {
  background-image: url("../assets/probiotics_bottle.png");
  left: -90px;
}

#multi_bottle {
  background-image: url("../assets/multi_bottle.png");
}

#headline {
  background-image: url("../assets/headline.png");
}

#cta {
  background-image: url("../assets/cta.png");
  left: -1px;
}
