:root {
  --main-width: 970px;
  --main-height: 250px;
}

* {
    box-sizing: border-box;
    font-size: 0px;
    line-height: 0px;
}

#clickScreen {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 99;
	display: block;
}

div {
    position: absolute;
    left: 0px;
    top: 0px;
}

img {
    position: absolute;
}

.control-size {
    width: var(--main-width);
    height: var(--main-height);
}

#container {
    width: var(--main-width);
    height: var(--main-height);
    overflow-x: hidden;
    overflow-y: visible;
    -ms-overflow-style: none;
    overflow: hidden;
    border: solid 1px;
    border-color: #000000;
    top: 50%;
    left: 50%;
    margin-left: calc( var(--main-width) / -2);
    margin-top: calc( var(--main-height) / -2);
    background: white;
}

.white-filter {
    filter: invert(100%) sepia(93%) saturate(26%) hue-rotate(59deg) brightness(204%) contrast(108%);
}

.o-0 {
    opacity: 0;
}