/* Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

body{
  font-family: 'IBM Plex Sans', 'IBM Plex Sans JP', Arial, sans-serif !important;
}

img {
  border: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*@font-face {
  font-family: 'IBMPlexLight';
  src: url('./fonts/IBMPlexSans-Light.ttf');
}*/

/* Container */
#wrapper {
	position: absolute;
	width: 970px;
	height: 250px;
	background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  border: 1px solid #858585;
}

#wrapper * {
  top: 0;
  left: 0;
}

/* Force text render */
.text {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Loose elements */
#banner {
  position: absolute;
  width: 970px;
  height: 250px;
}

#background_image, #logo1, #logo2 {
  position: absolute;
}

#copy {
  font-family: 'IBM Plex Sans', 'IBM Plex Sans JP', Arial, sans-serif;
  font-weight: 200;
  margin-top: 0px;
  margin-left: 198px;
  width: 460px;
  height: 160px;
  position: absolute;
  top: 24px;
  color: #000000;
}

#cta-btn {
  position: relative;
  display: inline-block;
  margin-top: 188px;
  margin-left: 198px;
  background-color: #0F62F4;
/*   background: #0F62F4 !important; */
}

#cta-copy {
  font-family: 'IBM Plex Sans', 'IBM Plex Sans JP', Arial, sans-serif;
/*   color: #FFFFFF !important; */
  position: relative;
  display: inline-block;
  font-size: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 12px;
  color: #ffffff;
}

#arrow {
  position: relative;
  top: 4px;
  padding-right: 16px;
  padding-left: 40px;
  height: 20px;
  color: #ffffff;
}

#replay {
  position: absolute;
  top: 15px;
  right: 14px;
  left: auto;
  display: none;
}

.btn-height{
  height: 40px;
}

.textFitted{
    line-height: 1.25em;
}
